@import "bourbon/bourbon";
@import "neat/neat";
@import "saffron/saffron";


body{
    padding: 0;
    margin: 0;
    background-image: url(blue.png);
    background-size: cover;
}

#menu{
    height:70px;
    margin: 0;
    padding: 0;
    text-align: none;
    @include linear-gradient(to top, #004C97, #009CDE);
    #title{
        width: 40%;
        height: 25%;
        margin-right: 0;
        float: left;
        text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
        h1{
            margin-top: 0;
            font-family: 'Belleza', sans-serif;
            color: white;
            font-size: 45px;
            padding-top: 1%;
            padding-left: 5%;
            a{
                text-decoration: none;
            }
            a:link{
                color:white;
            }
            a:visited{
                color: white;
            }
        }
    }
}

.dropdown{
    width: 9%;
    position: relative;
    display: inline-block;
    float: right;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
    span{
        color: white;
        font-family: 'Belleza', sans-serif; 
        font-size: 20px;
        a{
            text-decoration: none;
        }
        a:link{
            color:white;
        }
        a:visited{
            color: white;
        }   
    }
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-family: 'Belleza', sans-serif;
    color: white;
    width: 200px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    @include linear-gradient(to top, #004C97, #009CDE);
    z-index: 100;
    hr{
        width: 80%;
    }
    p{
        padding: 0;
        margin: 0;
        a{
            text-decoration: none;
        }
        a:link{
            color:white;
        }
        a:visited{
            color: white;
        }
    }
    p:hover{
        background: rgba(0,175,236,.8);
        transition: .5s;
        width: 80%;
        margin-left: 10%;
    }
}

.dropdown:hover{
    background: rgba(0,175,236,.8);
    transition: .5s;
    height: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: .5s;
    @include fadeInDown ();
    margin-top: 15%;
}

#homepage{
    @include outer-container;
    box-shadow: -2px 21px 74px -1px rgba(0,0,0,0.75);
    width: 100%;
    height: 990px;
    margin: auto;
    .title{
        text-align: center;
        padding-top: 6%;
        padding-bottom: 3%;
        h1{
            font-family: 'Belleza', sans-serif; 
            font-size: 50px;
            margin-top: 0%;
            padding-top: 0;
        }
        p{
            color: #004C97;
            font-size: 25px;
            text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
            text-align: center;
            font-size: 25px;
            margin-bottom: 0;
            margin-top: 0;
            font-family: 'Belleza', sans-serif;
            @include newspaper();
        }
        img{
            width: 60%;
            @include newspaper();
        }
    }
    .image{
            text-align: center;
            margin-top: 2%;
            margin-bottom: 4%;
            @include newspaper();
        img{
            width: 50%;
            box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.75);
        }
        
    }
    #feature{
        width: 100%;
        @include newspaper();
        color: #004C97;
        text-align: center;
        h1{
            font-family: 'Belleza', sans-serif; 
            font-size: 30px;
            text-align: left;
            padding-left: 2%;
            padding-bottom: 2%;
            width: 100%;
            color: #004C97;
            text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
            a{
                text-decoration: none;
            }
            a:link{
                color:#004C97;
            }
            a:visited{
                color: #004C97;
            }
        }
        .article{
            width: 24%;
            position: relative;
            display: inline-block;
            img{
                width: 100%;
                float: left;
            }
            img:hover{
                @include fadeIn(); 
            }
            #summary1{
                width: 405%;
                height: 220px;
                display: none;
                position: absolute;
                margin-top: 40%;
                background: rgba(255, 255, 255, .6);
                z-index: 100;
                .story{
                    padding: 2%;
                    p{
                        font-size: 15px;
                        text-align: left;
                        padding: 0;
                        margin: 0;
                    }
                    span{
                        font-style: italic;
                        a{
                            text-decoration: none;
                        }
                        a:link{
                            color:black;
                        }
                        a:visited{
                            color: black;
                        }
                    }
                }
                h1{
                    font-size: 25px;
                    text-align: center;
                    width: 100%;
                    padding-bottom: 2%;
                    text-shadow: none;
                }
                h2{
                    font-size: 15px;
                    padding-left: 4%;
                    margin: 0;
                    width: 100%;
                    text-align: left;
                    font-style: italic;
                }
            }
            #summary2{
                width: 303%;
                height: 220px;
                margin-right: 20%;
                display: none;
                position: absolute;
                margin-top: 40%;
                background: rgba(255, 255, 255, .6);
                z-index: 100;
                .story{
                    padding: 2%;
                    p{
                        font-size: 15px;
                        text-align: left;
                        padding: 0;
                        margin: 0;
                    }
                    span{
                        font-style: italic;
                        a{
                            text-decoration: none;
                        }
                        a:link{
                            color:black;
                        }
                        a:visited{
                            color: black;
                        }
                    }
                }
                h1{
                    font-size: 25px;
                    text-align: center;
                    width: 100%;
                    padding-bottom: 2%;
                    text-shadow: none;
                }
                h2{
                    font-size: 15px;
                    padding-left: 4%;
                    margin: 0;
                    width: 100%;
                    text-align: left;
                    font-style: italic;
                }
            }
            #summary3{
                width: 200%;
                height: 220px;
                display: none;
                position: absolute;
                margin-top: 40%;
                float: right;
                background: rgba(255, 255, 255, .6);
                z-index: 100;
                .story{
                    padding: 2%;
                    p{
                        font-size: 15px;
                        text-align: left;
                        padding: 0;
                        margin: 0;
                    }
                    span{
                        font-style: italic;
                        a{
                            text-decoration: none;
                        }
                        a:link{
                            color:black;
                        }
                        a:visited{
                            color: black;
                        }
                    }
                }
                h1{
                    font-size: 25px;
                    text-align: center;
                    width: 100%;
                    padding-bottom: 2%;
                    text-shadow: none;
                }
                h2{
                    font-size: 15px;
                    padding-left: 4%;
                    margin: 0;
                    width: 100%;
                    text-align: left;
                    font-style: italic;
                }   
            }
            #summary4{
                width: 100%;
                height: 220px;
                display: none;
                position: absolute;
                margin-top: 40%;
                float: right;
                background: rgba(255, 255, 255, .6);
                z-index: 100;
                .story{
                    padding: 2%;
                    p{
                        font-size: 14px;
                        text-align: left;
                        padding: 0;
                        margin: 0;
                    }
                    span{
                        font-style: italic;
                        a{
                            text-decoration: none;
                        }
                        a:link{
                            color:black;
                        }
                        a:visited{
                            color: black;
                        }
                    }
                }
                h1{
                    font-size: 20px;
                    text-align: center;
                    width: 100%;
                    padding-bottom: 2%;
                    text-shadow: none;
                }
                h2{
                    font-size: 14px;
                    padding-left: 4%;
                    margin: 0;
                    width: 100%;
                    text-align: left;
                    font-style: italic;
                } 
            }
        }
        .article:hover #summary1{
            display: block;
            transition: .5s;
            @include fadeInDown ();
        } 
        .article:hover #summary2{
            display: block;
            transition: .5s;
            @include fadeInDown ();
        } 
        .article:hover #summary3{
            display: block;
            transition: .5s;
            @include fadeInDown ();
        } 
        .article:hover #summary4{
            display: block;
            transition: .5s;
            @include fadeInDown ();
        } 
    } 
}

#box1{
    @include outer-container;
    width: 100%;
    height: 900px;
    margin: auto;
    box-shadow: -3px 6px 138px 15px rgba(0,0,0,0.75);
    .story{
        .image{
            text-align: center;
        }
        img{
            width: 40%;
            margin-top: 4%;
            margin-bottom: 2%;
            margin-left: 0;
            border: 10px solid #F0F0F0;
            box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.75);
            @include newspaper();  
        }
        h1{
            text-align: center;
            font-size: 40px;
            margin-bottom: 4%;
            padding-top: 5%;
            margin-top: 0;
            font-family: 'Belleza', sans-serif;
            text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
        }
        .paragraph{
            margin: 5%;
            margin-top: 2%;
            font-family: 'Lato', sans-serif;
            @include newspaper();  
            h2{
                font-style: italic;
                font-family: 'Lato', sans-serif;
                font-size: 15px;
                text-indent: 5%;
                border-bottom: 1px solid black;
                text-decoration: none;
                padding-bottom: 1%;
            }
            ul{
                    padding-left: 0;
                }
                li{
                    list-style: none;
                    
                }
        }
        #column1{
            @include span-columns(6.5);
            padding-right: 0;
        }
        #column2{
            @include span-columns(12);
            ul{
                padding-left: 0;
            }
            li{
                list-style: none;
            }
        }
        #feature{
            margin-left: 4%;
            .boxStories{
                width: 28%;
                padding: 2%;
                padding-top: 0;
                margin-top: 0;
                margin: 2%;
                float: left;
                 h1{
                    font-family: 'Belleza', sans-serif;
                    font-size: 18px;
                    @include newspaper(); 
                    text-shadow: none;
                 }
                img{ 
                    width: 100%;
                    border: 10px solid #F0F0F0;
                    box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.75);
                    @include newspaper(); 
                }
            }
        }
    
    }
}

#box2{
    @include outer-container;
    width: 100%;
    height: 1300px;
    margin: auto;
    box-shadow: -3px 6px 138px 15px rgba(0,0,0,0.75);
    h1{
        text-align: center;
        font-size: 60px;
        margin-bottom: 5%;
        padding-top: 5%;
        margin-top: 0;
        font-family: 'Belleza', sans-serif;
        text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
    }
    .story{
        #group{
            @include span-columns(12);
            margin-left: 11%;
            margin-bottom: 2%;
            img{
                width: 25%;
                margin-top: 4%;
                margin-bottom: 2%;
                margin-left: 1%;
                border: 10px solid #F0F0F0;
                box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.75);
                @include newspaper();  
            }    
        }
        .image{
            text-align: center;
            img{
                width: 35%;
                margin-top: 4%;
                margin-bottom: 2%;
                margin-left: 0;
                border: 10px solid #F0F0F0;
                box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.75);
                @include newspaper();  
            }
        }
        h1{
            text-align: center;
            font-size: 45px;
            margin-bottom: 2%;
            padding-top: 5%;
            margin-top: 0;
            font-family: 'Belleza', sans-serif;
        }
        h2{
            font-size: 80px;
            margin-bottom: 0;
            padding-top: 5%;
            margin-top: 0;
            font-family: 'Belleza', sans-serif;
        }
        .paragraph{
            margin: 5%;
            margin-top: 2%;
            font-family: 'Lato', sans-serif;
            @include newspaper();  
            h2{
                font-style: italic;
                font-family: 'Lato', sans-serif;
                font-size: 15px;
                text-indent: 5%;
                border-bottom: 1px solid black;
                text-decoration: none;
                padding-bottom: 1%;
            }
            span{
                font-weight: 900;
            }
            .image{
                text-align: center;
                img{
                    width: 70%;
                    margin-top: 4%;
                    margin-bottom: 2%;
                    margin-left: 0;
                    border: 10px solid #F0F0F0;
                    box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.75);
                    @include newspaper();  
                }
            }
            .insert{
                @include span-columns(4);
                margin-right: 1%;
                ul{
                    padding-left: 0;
                }
                li{
                    list-style: none;    
                }
            }
        }
        span{
            font-weight: 900;
            font-style: italic;
        }
    } 
}

#box3{
    @include outer-container;
    width: 100%;
    height: 2200px;
    margin: auto;
    box-shadow: -3px 6px 138px 15px rgba(0,0,0,0.75);
    .img{
        text-align: center;
    }
    img{
        width: 70%;
        margin-top: 15%;
        @include shift(1);
        @include newspaper(); 
    }
    .story{
        .image{
            @include span-columns(12);
            @include shift(3.8);
            img{
                width: 35%;
                margin-top: 4%;
                margin-bottom: 2%;
                margin-left: 0;
                border: 10px solid #F0F0F0;
                float: left;
                box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.75);
                @include newspaper();  
            }
        }
        h1{
            text-align: center;
            font-size: 40px;
            margin-bottom: 0;
            padding-top: 5%;
            margin-top: 0;
            font-family: 'Belleza', sans-serif; 
        }
        ul{
            padding-left: 0;
        }
        li{
            list-style: none; 
        }
        .paragraph{
            margin: 5%;
            margin-top: 2%;
            font-family: 'Lato', sans-serif;
            @include newspaper(); 
            .image{
                text-align: center;
                @include span-columns(12);
                @include shift(4.5);
                img{
                    width: 25%;
                    margin-left: 0;
                    border: 10px solid #F0F0F0;
                    float: left;
                    box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.75);
                    @include newspaper();  
                }
            }
            h2{
                font-style: italic;
                font-family: 'Lato', sans-serif;
                font-size: 15px;
                text-indent: 5%;
                border-bottom: 1px solid black;
                text-decoration: none;
                padding-bottom: 1%;
            }
            span{
                font-weight: 900;
                font-style: italic;
            }
            #column1{
                @include span-columns(6.5);
                padding-right: 0;
            }
            #column2{
                @include span-columns(12);
                ul{
                    padding-left: 0;
                }
                li{
                    list-style: none;
                }
            }
            .insert{
                @include span-columns(4);
                margin-right: 1%;
                ul{
                    padding-left: 0;
                }
                li{
                    list-style: none;
                    
                }
            }
        }
    }
}

#box4{
    @include outer-container;
    width: 100%;
    height: 850px;
    margin: auto;
    box-shadow: -3px 6px 138px 15px rgba(0,0,0,0.75);
    .story{
        h1{
            text-align: center;
            font-size: 50px;
            margin-bottom: 4%;
            padding-top: 5%;
            margin-top: 0;
            font-family: 'Belleza', sans-serif;
            text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
        }
        p{
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            padding-left: 4%;
            padding-right: 4%;
            padding-bottom: 2%;
            @include newspaper;
        }
        .boxStories{
             width: 50%;
             padding: 2%;
             padding-top: 0;
             margin-top: 0;
             float: left;
             h1{
                font-family: 'Belleza', sans-serif;
                font-size: 24px;
                @include newspaper(); 
                text-shadow: none;
             }
            img{ 
                width: 100%;
                border: 10px solid #F0F0F0;
                box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.75);
                @include newspaper(); 
                
            }
        }   
    }
}

#box5{
    @include outer-container;
    width: 100%;
    height: 2700px;
    margin: auto;
    box-shadow: -3px 6px 138px 15px rgba(0,0,0,0.75);
    .img{
        text-align: center;
    }
    img{
        width: 70%;
        margin-top: 15%;
        @include shift(1);
        @include newspaper(); 
    }
    .story{
        .image{
            text-align: center;
            width: 100%;
            img{
                width: 35%;
                margin-top: 4%;
                margin-bottom: 2%;
                margin-left: 0;
                margin-right: 0;
                border: 10px solid #F0F0F0;
                box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.75);
                @include newspaper();  
            }
        }
        h1{
            text-align: center;
            font-size: 40px;
            margin-bottom: 0;
            padding-top: 5%;
            margin-top: 0;
            font-family: 'Belleza', sans-serif; 
        }
        .paragraph{
            margin: 5%;
            margin-top: 2%;
            font-family: 'Lato', sans-serif;
            @include newspaper(); 
            .image{
                text-align: center;
                @include span-columns(12);
                @include shift(4.5);
                img{
                    width: 25%;
                    margin-left: 0;
                    border: 10px solid #F0F0F0;
                    float: left;
                    box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.75);
                    @include newspaper();  
                }
            }
            h2{
                font-style: italic;
                font-family: 'Lato', sans-serif;
                font-size: 15px;
                text-indent: 5%;
                border-bottom: 1px solid black;
                text-decoration: none;
                padding-bottom: 1%;
            }
            span{
                font-weight: 900;
                font-style: italic;
            }
            #column1{
                @include span-columns(6.5);
                padding-right: 0;
            }
            #column2{
                @include span-columns(12);
                ul{
                    padding-left: 0;
                }
                li{
                    list-style: none;
                }
            }
            .insert{
                @include span-columns(4);
                margin-right: 1%;
                ul{
                    padding-left: 0;
                }
                li{
                    list-style: none;
                    
                }
            }
        }
    }
}

#aboutUs{
    @include outer-container;
    width: 100%;
    height: 1800px;
    margin: auto;
    box-shadow: -3px 6px 138px 15px rgba(0,0,0,0.75);
    .image{
        text-align: center;
    }
    img{
        width: 30%;
        border: none;
        margin-top: 2%;
        @include newspaper(); 
        box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.75);
    }
    h1{
        text-align: center;
        font-size: 40px;
        margin-bottom: 0;
        padding-top: 5%;
        margin-top: 0;
        font-family: 'Belleza', sans-serif; 
    }
    .paragraph{
        margin: 5%;
        margin-top: 2%;
        font-family: 'Lato', sans-serif;
        @include newspaper(); 
        .name{
            @include span-columns(3);
            @include newspaper(); 
            text-align: center;
            float: left;
            margin: 0;
            margin-top: 2%;
            img{
                width: 70%;
                border: none;
            }   
        }   
        .bio{
            @include span-columns(9);
            @include newspaper(); 
            margin-top: 1%;
            padding-bottom: 4%;
            float: left;
            font-family: 'Lato', sans-serif;  
            margin: 0;
        }
        #kim{
            @include span-columns(9);
            @include newspaper(); 
            margin-top: 1%;
            padding-bottom: 8%;
            float: left;
            font-family: 'Lato', sans-serif;  
            margin: 0;
        }    
    }
}

#bottomMenu{
        @include outer-container;
        width: 100%;
        height: 380px;
        background: rgba(214, 224, 255, .6);
        box-shadow: -2px 21px 74px -1px rgba(0,0,0,0.75);
    #links{
        width: 25%;
        height: 380px;
        font-family: 'Belleza', sans-serif;
        font-size: 15px;
        float: left;
        padding-left: 2%;
        border-right: 2px solid white;
        h2{
            padding-bottom: 0;
            margin-bottom: 18%;
        }
        a{
            text-decoration: none;
        }
        a:hover{
            @include fadeInZoom;
        }
        a:link{
            color:black;
        }
        a:visited{
            color: black;
        }
    }
    #social{
        width: 25%;
        height: 380px;
        float: left;
        border-right: 2px solid white;
        #iconBox{
            padding-left: 18%;
        }
        .icon{
            width: 40%;
            float: left;
            padding: 2%;
            margin-bottom: 0;
        }
        .icon:hover{
            @include fadeIn();
        }
        h2{
            text-align: center;
            font-family: 'Belleza', sans-serif;
            padding-bottom: 0;
            margin-bottom: 18%;
        }
        img{                
            float: left;
            width: 100%;
            height: 100%;
            margin: 3%;
            padding-bottom: 20%;
        }
    }
    #staff{
        width: 50%;
        float: left;
        font-family: 'Belleza', sans-serif;
        text-align: center;
        h2{
            margin-bottom: 0;
            a{
                text-decoration: none;
            }
            a:link{
                color:black;
            }
            a:visited{
                color: black;
            }
        }
        .name{
            width: 30%;
            float: left;
        }
        img{
            width: 55%;
            height: 55%;
        }
        #SMS{
            width: 30%;
            padding-top: 10%;
            float: left;
            img{
                width: 100%;
            }
        }
    }
}

#footer{
    width: 100%;
    height: 50px;
    position: relative;
    @include linear-gradient(to top, #474A48, #1E1E20);
    #school{
        width: 25%;
        float: left;
        margin-left: 2%;
        margin-top: 1%;
        margin-bottom: 0;
        p{
            font-family: 'Belleza', sans-serif;
            font-size: 15px;
            color: white;
            margin: 0;
            float: left;
        }
    }
    #copyright{
        float: right;
        width: 25%;
        margin-right: 2%;
        p{
            font-family: 'Belleza', sans-serif;
            font-size: 15px;
            color: white;
            font-style: italic;
            float: right;
        }
    }
}

@media screen and (max-width: 1040px){
    #homepage{
        #feature{
            .article{
                #summary1{
                    height: 220px;
                    h1{
                        font-size: 15px;
                    }
                    h2{
                        font-size: 12px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
                #summary2{
                    height: 220px;
                    h1{
                        font-size: 15px;
                    }
                    h2{
                        font-size: 12px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
                #summary3{
                    height: 220px;
                    h1{
                        font-size: 15px;
                    }
                    h2{
                        font-size: 12px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
                #summary4{
                    height: 220px;
                    h1{
                        font-size: 15px;
                    }
                    h2{
                        font-size: 12px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    
    #box2{
        width: 100%;
        height: 1400px;
    }
    
    #footer{
    width: 100%;
    height: 50px;
    position: relative;
    @include linear-gradient(to top, #474A48, #1E1E20);
        #school{
            width: 25%;
            float: left;
            margin-left: 2%;
            margin-top: 1%;
            margin-bottom: 0;
            p{
                font-family: 'Belleza', sans-serif;
                font-size: 15px;
                color: white;
                margin: 0;
                float: left;
            }
        }
        #copyright{
            float: right;
            width: 25%;
            margin-right: 2%;
            p{
                font-family: 'Belleza', sans-serif;
                font-size: 15px;
                color: white;
                font-style: italic;
                float: right;
            }
        }
    }
    #box5{
        height: 2800px;
    }
}

@media screen and (max-width: 965px){
    .dropdown{
        margin-right: 2%;
    }
    #homepage{
        #feature{
            .article{
                #summary1{
                    height: 200px;
                }
                #summary2{
                    height: 200px;
                }
                #summary3{
                    height: 200px;
                }
                #summary4{
                    height: 200px;
                }
            }
        }
    }
    #box5{
        height: 3000px;
    }
}

@media screen and (max-width: 845px){
    #menu{
        #title{
            h1{
                font-size: 35px;
                padding-top: 4%;
            }
        }
    }
    .dropdown{
        padding-top: 4%;
        span{
            font-size: 15px;
        }
    }
    .dropdown-content{
        width: 150px;
        font-size: 10px;
    }
    #box1{
        height: 1000px;
        #column3{
            width: 100%;
        }
        .image{
            width: 100%;
        }
    }
    #box3{
        height: 2300px;
    }
}

@media screen and (max-width: 815px){    
    #homepage{
        height: 800px;
        .title{
            p{
                font-size: 20px;
            }
        }
        #feature{
            .article{
                #summary1{
                    height: 240px;
                    h1{
                        font-size: 15px;
                    }
                    h2{
                        font-size: 12px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
                #summary2{
                    height: 240px;
                    h1{
                        font-size: 15px;
                    }
                    h2{
                        font-size: 12px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
                #summary3{
                    height: 240px;
                    h1{
                        font-size: 15px;
                    }
                    h2{
                        font-size: 12px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
                #summary4{
                    height: 240px;
                    h1{
                        font-size: 15px;
                    }
                    h2{
                        font-size: 12px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
        }
    }    
    
    #footer{
        #school{
            p{
                font-size: 12px;
            }
        }
    }
    
    #bottomMenu{
        #links{
            font-size: 12px;
        }
    }
    
    #box1{
        .story{
            #feature{
                .boxStories{
                    h1{
                        font-size: 15px;
                    }
                }
            }
        }
    }
    #box2{
        height: 1600px;
    }
    
    #box5{
        height: 3300px;
    }
}

@media screen and (max-width: 730px){
    #bottomMenu{
        height: 810px;
        #links{
            width: 50%;
            font-size:18px;
            h2{
                text-align: center;
                margin-bottom: 5%;
            }
        }
        #social{
            width: 50%;
            border: none;
            h2{
                margin-bottom: 8%;
                font-size: 25px;
            }
            img{
                width:75%;
            }
        }
        #staff{
            width:100%;
        }
    }
}

@media screen and (max-width: 660px){
    #menu{
        #title{
            h1{
                font-size: 25px;
                padding-top: 5%;
            }
        }
    }
    .dropdown{
        padding-top: 4%;
        span{
            font-size: 12px;
        }
    }   
    .dropdown-content{
        width: 100px;
    }
    
    #box1{
        .story{
            #feature{
                .boxStories{
                    h1{
                        font-size: 10px;
                    }
                }
            }
        }
    }
    #box2{
        height: 1700px;
    }
    #box3{
        height: 2500px;
    }
    #box4{
        .story{
            p{
                font-size: 18px;
            }
            .boxStories{
                h1{
                    font-size: 20px;
                }
            }
        }
    }
    #aboutUs{
        height: 2270px;
    }
    #footer{
        #school{
            width: 50%;
            p{
                font-size: 15px;
            }
        }
    }
    #box5{
        height: 4000px;
    }
}

@media screen and (max-width: 550px){
    #box3{
         height: 2900px;
        .story{
            .paragraph{
                .insert{
                    width: 100%;
                }   
            }   
        }
    }
    
    #footer{
        #school{
            width: 50%;
            p{
                padding-right: 2%;
                font-size: 15px;
            }
        }
    }
    
    #homepage{
        height: 450px;
        .title{
            p{
                font-size: 15px;
            }
        }
        #feature{
            h1{
                font-size: 20px;
            }
            .article:hover #summary1{
            display: none;
            } 
            .article:hover #summary2{
                display: none;
            } 
            .article:hover #summary3{
                display: none;
            } 
            .article:hover #summary4{
               display: none;
            }   
        }
    }
}

@media screen and (max-width: 512px){
    .dropdown{
        span{
            font-size: 10px;
        }
    }
}

@media screen and (max-width: 495px){
    #menu{
        #title{
            h1{
                padding-top: 8%;
            }
        }
    }
    
    #bottomMenu{
        height: 600px;
        #links{
            font-size: 14px;
            height: 250px;
        }
        #social{
            height: 250px;
        }
        #staff{
            .name{
                h4{
                    font-size: 15px;
                }
            } 
        }
    }
    
    #homepage{
        height: 400px;
    }
    
    #box1{
        height: 1000px;
        .story{
            h1{
                font-size: 25px;    
            }
            .paragraph{
                h2{
                    font-size: 12px;
                }
            }
            #feature{
                .boxStories{
                    h1{
                        font-size: 8px;
                    }
                }
            }
        }
    }
    
    #box2{
        height: 2200px;
        .story{
            h1{
                font-size: 30px;    
            }
            .paragraph{
                h2{
                    font-size: 12px;
                }
            }
        }
    }
    
    #box3{
        .story{
            h1{
                font-size: 25px;    
            }
            .paragraph{
                h2{
                    font-size: 12px;
                }
            }
        }
    }
    
    #box4{
        height: 600px;  
        .story{
            h1{
                font-size: 20px;    
            }
        }
    }
}

@media screen and (max-width: 476px){
    #menu{
        #title{
            h1{
                font-size: 20px;
                padding-top: 12%;
            }
        }
    }
    
    #bottomMenu{
        height: 650px;
        #links{
            font-size: 12px;
            height: 320px;
        }
        #social{
            height: 302px;
        }
        #staff{
            .name{
                h4{
                    font-size: 15px;
                }
            } 
        }
    }
    
    #box3{
        height: 3300px;
    }
    #box4{
        .story{
            p{
                font-size: 16px;
            }
            .boxStories{
                h1{
                    font-size: 18px;
                }
            }
        }
    }
    #box5{
        height: 4550px;
    }
}

@media screen and (max-width:430px){
    #menu{
        #title{
            h1{
                padding-top: 14%;
            }
        }
    }
    .dropdown{
        width: 9%;
        padding-top: 6%;
        span{
            font-size: 8%;
            padding-top: 10%;
        }
    }
    .dropdown-content{
        font-size: 8px;
    }
    #bottomMenu{
        #links{
            font-size: 15px;
        }
    }
    #footer{
        #school{
            p{
                font-size: 12px;
                padding-top: 2%;
            }
        }
    }
}
